* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.table-container {
    margin-top: 5rem;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

thead,
tbody {
    padding: 5px;
}